@model NewsAndReviewsViewModel

<div class="row">
    <div class="col-md-6">
        @for (int i = 0; i < 2; i++)
        {
        <a asp-controller="News" asp-action="NewsInformation" asp-route-id="@Model.News[i].Id">
            <div class="card" style="width: 18rem;">
          <img src="@Model.News[i].ImageUrl" class="card-img-top" alt="News image">
          <div class="card-body">
            <h5 class="card-title">@Model.News[i].Title</h5>
          </div>
        </div>
        </a>
        }

<a asp-action="AllNews">
    <button type="button" class="btn btn-outline-primary">More news</button>
</a>

    </div>
    <div class="col-md-6">
        @for (int i = 0; i < 2; i++)
        {
        <a asp-controller="News" asp-action="ReviewInformation" asp-route-id="@Model.Reviews[i].Id">
                <div class="card" style="width: 18rem;">
                  <img src="@Model.Reviews[i].ImageUrl" class="card-img-top" alt="News image">
              <div class="card-body">
                    <h5 class="card-title">@Model.Reviews[i].Title</h5>
              </div>
            </div>
            </a>
        }

<a asp-action="AllReviews">
    <button type="button" class="btn btn-outline-primary">More reviews</button>
</a>
    </div>
</div>
