@model IEnumerable<CarModelsViewModel>

@foreach (var e in Model)
{
        <a asp-controller="CarInformation" asp-action="ShowCarInformation" asp-route-brandId="@e.Brand.Id" asp-route-modelId="@e.Id">
    <div class="card" style="width: 18rem;">
         <img src="@e.ImageUrl" class="card-img-top" alt="Model Picture">
         <div class="card-body">
             <h5 class="card-title">@e.Brand.Name - @e.Name</h5>
         </div>
     </div>
     </a>
}

    @section Scripts {
            <partial name="_ValidationScriptsPartial" />
    }